.card_wrapper {
    display: grid;
    gap: var(--primary-spacing);
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 850px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 400px) {
        grid-template-columns: 1fr;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: var(--primary-spacing);
        padding: var(--primary-spacing);
        background-color: var(--gray-200);
        border-radius: var(--border-radius);

        .description {
            overflow-wrap: break-word;
            hyphens: auto;
            font-size: var(--info-font-size);
            height: auto;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 9;
        }
    }
}